@{
    ViewBag.Title = "Blog CoffeeStore";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/CSS/_blog.css" />

<main class="blog-container">
    <section class="blog-videos">
        <h2>Vlog CoffeeStore</h2>
        <div class="video-grid">
            <div class="video-item">
                <iframe src="https://www.youtube.com/embed/cUwBQlARZUM" title="(Vietnamese)🙇🏻‍♀️‼️Kỷ niệm 1,4 triệu‼️🙇🏻‍♀️ 4 giờ bộ sưu tập video /cafe vlog" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h3>Kỷ niệm 1,4 triệu - Cafe Vlog</h3>
            </div>
            <div class="video-item">
                <iframe src="https://www.youtube.com/embed/wFut2zYOT7k" title="Cafe Vlog | 🤎🍦 40 phút quán cà phê Hàn nổi tiếng với cream latte🍦🤎" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h3>Cafe Vlog - Cream Latte Hàn Quốc</h3>
            </div>
            <div class="video-item">
                <iframe src="https://www.youtube.com/embed/JkMEqA0M99U" title="🧋❣️카페브이로그 4시간 모음집이에요❣️🧋,음료제조영상모음,ASMR,nobgm,최블리,음료멍" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h3>Cafe Vlog - Bộ sưu tập 4 giờ</h3>
            </div>
            <div class="video-item">
                <iframe src="https://www.youtube.com/embed/p7QlG90JIOU" title="Một ngày ở quán cafe Starbucks | Cafe Vlog | ASMR | Cà phê Zang xay" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h3>Cafe Vlog - Một ngày tại Starbucks</h3>
            </div>
            <div class="video-item">
                <iframe width="928" height="522" src="https://www.youtube.com/embed/rhjHX2dmp1c" title="#P8 Cà Phê Việt Nam / Vietnamese Coffee / Cafe Vlog with Hunu Coffee Shop" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h3>Cafe VN</h3>
            </div>
            <div class="video-item">
                <iframe width="928" height="522" src="https://www.youtube.com/embed/ihJYJqY6P0k" title="[CAFE VLOG] | 20 phút Views 100% Likes | Trời mưa ~ 🌧 | Bạn muốn một tách cà phê vào một ngày mưa?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h3>Cafe Vlog </h3>
            </div>  
        </div>
    </section>
</main>