@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewBag.Title = "Giới thiệu CoffeeStore";
}
<link rel="stylesheet" href="~/Content/CSS/Introduce.css" />

<main class="body">
    <section>
        <h2>Giới thiệu CoffeeStore</h2>
        <h4>Website chính thức và duy nhất của CoffeeStore. Hiện tại chúng mình chỉ nhận đơn hàng trên website chứ không nhận bất kỳ nơi nào khác nhé!</h4>

        <h4>Nếu có ưu đãi cũng sẽ được thông báo công khai trên các kênh CHÍNH THỨC VÀ DUY NHẤT sau đây:</h4>

        <h4>Website: <a href="https://localhost:44369/Home/Index">https://shop.CoffeeStore.com/</a></h4>

        <h4>Fanpage: <a href="https://www.facebook.com/CoffeeStore-1234567890/">https://www.facebook.com/CoffeeStore-1234567890/</a></h4>

        <h4>Instagram: <a href="https://www.instagram.com/coffeestore.official/">https://www.instagram.com/coffeestore.official/</a></h4>

        <h4>Email: <a>coffeestore@gmail.com</a></h4>

        <h4>CoffeeStore xin vui lòng được phục vụ quý khách!</h4>
    </section>
</main>